<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<title>Reporte de Balance Contable</title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/fixedColumns.dataTables.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content"
		th:with="permisoConsulta=${#authorization.expression('hasPermission(''RPT_CONT'', ''2'')')}, permisoReporte=${#authorization.expression('hasPermission(''RPT_CONT'', ''5'')')}">
		
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Reporte de Balance Contable</h3>
						</div>
						<div class="panel-body">
							<div id="tipoReporteContent" class="col-sm-12">
								<fieldset class="well">
									<legend class="well-legend">Tipo de Búsqueda</legend>
									<form id="formTipoReporte" class="form-horizontal">
										<div class="form-group">
											<div class="col-sm-12">
												<label class="radio-inline">
													<input type="radio" checked="checked" name="tipoBusqueda" value="resumen">
													Resumen
												</label>
												<label class="radio-inline">
													<input type="radio" name="tipoBusqueda" value="detalle">
													Detalle
												</label>
												<label class="radio-inline">
													<input type="radio" name="tipoBusqueda" value="porPeriodo">
													Resumen por periodo
												</label>
											</div>
										</div>
									</form>
								</fieldset>
							</div>
							<div id="criterios" class=" col-xs-12">
								<fieldset class="well">
									<legend class="well-legend">Criterios</legend>
									<div id="resumenContent">
										<form id="formTipoReporteResumen" class="form-horizontal">
											<div class="form-group">
												<div class="group">
													<label class="col-md-1 control-label">Institución</label>
													<div class="col-md-3">
														<select id="institucionesResumen" class="form-control select2 filtroInstitucion" name="idInstitucion">
															<option value="" selected="selected" disabled="disabled">Seleccione una institución</option>
															<option th:each="institucion : ${instituciones}" th:value="${institucion.codigoInstitucion}"
																th:text="|${institucion.codigoInstitucion} - ${institucion.descripcionCorta}|"></option>
														</select>
													</div>
												</div>
												<div class="group">
													<label class="control-label col-lg-2 col-sm-2" for="fechaCumpleanios">Fecha Proceso</label>
													<div class="col-sm-4 col-md-4 input-group">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														<input id="rangoFechaProcesoResumen" type="text" class="form-control filtro" readonly="readonly"
															name="fechaProcesoResmen">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-6 col-lg-6 text-center">
													<button id="btnBuscarResumen" type="button" class="btn btn-primary" th:if="${permisoConsulta}">
														<i class="fa fa-search"></i> Buscar
													</button>
													<button id="btnExportarResumen" type="button" class="btn btn-success" th:if="${permisoReporte}">
														<i class="fa fa-download"></i> Exportar
													</button>
												</div>
											</div>
										</form>
									</div>
									<div id="detalleContent" class="hidden">
										<form id="formTipoReporteDetalle" class="form-horizontal">
											<div class="form-group">
												<div class="group">
													<label class="col-md-1 control-label">Institución</label>
													<div class="col-md-3">
														<select id="institucionesDetalle" class="form-control select2 filtroInstitucion" name="idInstitucion">
															<option value="" selected="selected" disabled="disabled">Seleccione una institución</option>
															<option th:each="institucion : ${instituciones}" th:value="${institucion.codigoInstitucion}"
																th:text="|${institucion.codigoInstitucion} - ${institucion.descripcionCorta}|"></option>
														</select>
													</div>
												</div>
												<div class="group">
													<label class="control-label col-lg-2 col-sm-2" for="fechaCumpleanios">Fecha Proceso</label>
													<div class="col-sm-4 col-md-4 input-group">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														<input id="rangoFechaProcesoDetalle" type="text" class="form-control filtro" readonly="readonly"
															name="descripcionRangoFechas">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-lg-2 col-sm-2">Rol</label>
												<div class="col-sm-2">
													<div th:each="rol: ${roles}" class="col-sm-12">
														<label>
															<input type="checkbox" name="rol" th:value="${rol.idItem}" th:text="${rol.descripcionItem}" checked="checked">
														</label>
													</div>
												</div>
												<label class="control-label col-lg-1 col-sm-1">Tipo</label>
												<div class="col-sm-2">
													<div th:each="tipoDetalle: ${tiposDetalle}" class="col-sm-12">
														<label>
															<input type="checkbox" name="tipoDetalle" th:value="${tipoDetalle.idItem}" th:text="${tipoDetalle.descripcionItem}"
																checked="checked">
														</label>
													</div>
												</div>
												<label class="control-label col-lg-1 col-sm-1">Ver</label>
												<div class="col-sm-2">
													<div class="col-sm-12">
														<label>
															<input type="radio" name="tipoVisualizacion" value="D" checked="checked">
															Disgregado
														</label>
													</div>
													<div class="col-sm-12">
														<label>
															<input type="radio" name="tipoVisualizacion" value="J">
															Junto
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-7 col-lg-7 text-center">
													<button id="btnBuscarDetalle" type="button" class="btn btn-primary" th:if="${permisoConsulta}">
														<i class="fa fa-search"></i> Buscar
													</button>
													<button id="btnExportarDetalle" type="button" class="btn btn-success" th:if="${permisoReporte}">
														<i class="fa fa-download"></i> Exportar
													</button>
												</div>
											</div>
										</form>
									</div>
									<div id="resumenPorPeriodoContent" class="hidden">
										<form id="formTipoReporteResumenPorPeriodo" class="form-horizontal">
											<div class="form-group">
												<div class="group">
													<label class="col-md-1 control-label">Institución</label>
													<div class="col-md-3">
														<select id="institucionesResumenPorPeriodo" class="form-control select2 filtroInstitucion" name="idInstitucion">
															<option value="" selected="selected" disabled="disabled">Seleccione una institución</option>
															<option th:each="institucion : ${instituciones}" th:value="${institucion.codigoInstitucion}"
																th:text="|${institucion.codigoInstitucion} - ${institucion.descripcionCorta}|"></option>
														</select>
													</div>
												</div>
												<div class="group">
													<label class="control-label col-lg-2 col-sm-2">Fecha Proceso</label>
													<div class="col-sm-4 col-md-4 input-group">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
														<input id="rangoFechaProcesoResumenPorPeriodo" type="text" class="form-control filtro" readonly="readonly"
															name="fechaProcesoResmenPorPeriodo">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-6 col-lg-6 text-center">
													<button id="btnBuscarResumenPorPeriodo" type="button" class="btn btn-primary" th:if="${permisoConsulta}">
														<i class="fa fa-search"></i> Buscar
													</button>
													<button id="btnExportarResumenPorPeriodo" type="button" class="btn btn-danger" th:if="${permisoReporte}">
														<i class="fa fa-file-pdf-o"></i> Exportar
													</button>
												</div>
											</div>
										</form>
									</div>
								</fieldset>
							</div>
							<div id="resultadoBusqueda" th:if="${permisoConsulta}">
								<div id="resultadoBusquedaResumen" class="tabs">
									<ul class="nav nav-tabs">
										<li th:each="moneda,itStat: ${monedas}" th:class="${itStat.index == 0}?'active':''"><a data-toggle="tab"
												th:href="|#${moneda.codigoMoneda}-resumen|" th:text="|${moneda.codigoMoneda} - ${moneda.descripcion}|"></a></li>
									</ul>
									<div class="tab-content">
										<div th:each="moneda,iterStat : ${monedas}" th:id="|${moneda.codigoMoneda}-resumen|" class="tab-pane fade in"
											th:classappend="${iterStat.index == 0}?'active':''">
											<table th:attr="idTabla=|tablaResumen-${moneda.codigoMoneda}|,id=|tablaResumen-${moneda.codigoMoneda}|"
												class="table table-bordered table-condensed nowrap display table-hover tablaResultadosResumen">
												<tfoot>
													<tr>
														<td colspan="3">Total</td>
														<td></td>
														<td></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
								<div id="resultadoBusquedaDetalle" class="hidden">
									<div id="resultadoBusquedaDetalle-D" class="tabs">
										<ul class="nav nav-tabs">
											<li th:each="filtro,itStat: ${filtros}" th:classappend="${itStat.index == 0}?'active':''" class="tabDetalle-D"><a
													data-toggle="tab" th:href="|#${filtro.idItem}-detalle-D|" th:text="|${filtro.descripcionItem}|"></a></li>
										</ul>
										<div class="tab-content">
											<div th:each="filtro,iterStat : ${filtros}" th:id="|${filtro.idItem}-detalle-D|"
												class="tab-pane fade in detalle-content-D" th:classappend="${iterStat.index == 0}?'active':''">
												<table th:attr="idTabla=|tablaDetalleRol-${filtro.idItem}|,id=|tablaDetalleRol-${filtro.idItem}|"
													class="table table-bordered table-condensed nowrap display table-hover tablaResultadosDetalle">
													<tfoot>
														<tr>
															<td colspan="10">Total</td>
															<td></td>
															<td></td>
															<th:block th:if="|tablaDetalleRol-${filtro.idItem}| == 'tablaDetalleRol-M'">
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</th:block>
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
									</div>
									<div id="resultadoBusquedaDetalle-J" class="hidden tabs">
										<ul class="nav nav-tabs">
											<li th:each="rol,itStat: ${roles}" th:class="${itStat.index == 0}?'active':''"><a data-toggle="tab"
													th:href="|#${rol.idItem}-detalle-J|" th:text="|${rol.descripcionItem}|"></a></li>
										</ul>
										<div class="tab-content">
											<div th:each="rol,iterStat : ${roles}" th:id="|${rol.idItem}-detalle-J|" class="tab-pane fade in detalle-content-J"
												th:classappend="${iterStat.index == 0}?'active':''">
												<table th:attr="idTabla=|tablaDetalleTipo-${rol.idItem}|,id=|tablaDetalleTipo-${rol.idItem}|"
													class="table table-bordered table-condensed nowrap display table-hover tablaResultadosDetalle">
													<tfoot>
														<tr>
															<td colspan="10">Total</td>
															<td></td>
															<td></td>
															<th:block th:if="|tablaDetalleTipo-${rol.idItem}| == 'tablaDetalleTipo-M'">
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</th:block>
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="resultadoBusquedaResumenPorPeriodo" class="tabs hidden">
									<ul class="nav nav-tabs">
										<li th:each="moneda,itStat: ${monedas}" th:class="${itStat.index == 0}?'active':''">
											<a data-toggle="tab" th:href="|#${moneda.codigoMoneda}-resumenPorPeriodo|"
												th:text="|${moneda.codigoMoneda} - ${moneda.descripcion}|"></a>
										</li>
									</ul>
									<div class="tab-content">
										<div th:each="moneda,iterStat : ${monedas}" th:id="|${moneda.codigoMoneda}-resumenPorPeriodo|" class="tab-pane fade in"
											th:classappend="${iterStat.index == 0}?'active':''">
											<table th:attr="idTabla=|tablaResumenPorPeriodo-${moneda.codigoMoneda}|,id=|tablaResumenPorPeriodo-${moneda.codigoMoneda}|"
												class="table table-bordered table-condensed nowrap display table-hover tablaResultadosResumenPorPeriodo">
												<tfoot>
													<tr>
														<td colspan="2">Total</td>
														<td></td>
														<td></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
								<div id="filtrosParaTablaMantenimiento" class="row hidden">
									<select class="monedas-filtroParaTablaDetalle" id="monedas-filtroParaTablaDetalle">
										<option th:each="moneda, itSelect : ${monedas}" th:text="|${moneda.codigoMoneda} - ${moneda.descripcion}|"
											th:value="|${moneda.codigoMoneda} - ${moneda.descripcion}|" th:attr="data-value=${moneda.codigoMoneda}"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.fixedColumns.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		<script th:src="@{/resources/js/pagina/reporte/{reporte}/{reporte}.js(reporte = ${reporte})}"></script>
		<script th:src="@{/resources/js/pagina/reporte/{reporte}/{reporte}Formulario.js(reporte = ${reporte})}"></script>
	</th:block>
</body>
</html>