<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<head>
<title th:text="|Reporte #{__|autorizacion${reporte}|__}|"></title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/fixedColumns.dataTables.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/amChart/export.min.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" th:text="|Reporte #{__|autorizacion${reporte}|__}|"></h3>
						</div>
						<div class="panel-body">
							<th:block
								th:replace="~{template/fragments/reporte/criterioBusquedaReporteAutorizacion :: criterioBusquedaReporteAutorizacion(tipo=${reporte})}?:~{}">
							</th:block>
							<div id="resultadoBusqueda" class="col-xs-12 tabs hidden">
								<ul class="nav nav-tabs">
									<li class="active"><a id="navTabla" data-toggle="tab" href="#tabla">Tabla</a></li>
									<li class="graficoOcultable transaccionAprobada hidden"><a data-toggle="tab" href="#aprobado">Transacciones
											Aprobadas</a></li>
									<li class="graficoOcultable transaccionRechazada hidden"><a data-toggle="tab" href="#rechazado">Transacciones
											Rechazadas</a></li>
								</ul>
								<div class="tab-content">
									<div id="tabla" class="tab-pane fade in active">
										<table id="tablaResultadoBusqueda" width="100%"
											class="table table-bordered table-condensed table-hover display nowrap">
											<thead>
												<tr>
													<th id="th_tipo_autorizacion" rowspan="4"></th>
													<th id="th_tipo_presentacion" colspan="4"></th>
												</tr>
												<tr id="tr_mes_o_dia" class="removible">
												</tr>
												<tr id="tr_codigo_respuesta_txn" class="removible">
												</tr>
												<tr id="tr_cantidades" class="removible">
												</tr>
											</thead>
											<tbody class="removible">
											</tbody>
											<tfoot>
												<tr id="tr_foot_total" class="removible">
												</tr>
											</tfoot>
										</table>
									</div>
									<div id="aprobado" class="tab-pane fade graficoOcultable transaccionAprobada hidden">
										<div id="graficoTransaccionAprobado" style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
									<div id="rechazado" class="tab-pane fade graficoOcultable transaccionRechazada hidden">
										<div id="graficoTransaccionRechazado" style="width: 100%; height: 700px; font-size: 11px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.fixedColumns.min.js}"></script>
		<script th:src="@{/resources/js/amChart/amcharts.js}"></script>
		<script th:src="@{/resources/js/amChart/serial.js}"></script>
		<script th:src="@{/resources/js/amChart/export.min.js}"></script>
		<script th:src="@{/resources/js/amChart/light.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		<script th:src="@{/resources/js/pagina/reporte/autorizacion/{reporte}/{reporte}.js(reporte = ${reporte})}"></script>
		<script th:src="@{/resources/js/pagina/reporte/autorizacion/{reporte}/{reporte}Formulario.js(reporte = ${reporte})}"></script>
		<script th:src="@{/resources/js/pagina/reporte/autorizacion/reporteAutorizacionUtil.js}"></script>
	</th:block>
</body>
</html>