<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modal-esquemaAjuste" th:fragment="txnsObservadas">
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Esquema Ajuste</legend>
				<div id="criterios">
					<form id="formTxnsTraceObservadas" class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-xs-2">Número de Trace</label>
							<div class="col-xs-10">
								<input type="text" name="numeroTrace" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12 text-center">
								<button id="btnActualizarTrace" type="button" class="btn btn-primary">
									<i class="fa fa-search"></i> Ajustar
								</button>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>