<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalAccion" class="row" th:fragment="modalAccion"
		th:with="consulta=${consulta}">
		
<!-- 		<fieldset class="well"> -->
<!-- 			<legend class="well-legend">Detalle del Cliente</legend> -->
<!-- 			<th:block th:replace="~{/template/fragments/consultas/detalleParaTablaConsulta :: Cliente}"></th:block> -->
<!-- 		</fieldset> -->

<!-- 		<fieldset class="well"> -->
<!-- 			<legend class="well-legend">Detalle de Consulta</legend> -->
<!-- 			<th:block -->
<!-- 				th:replace="~{/template/fragments/consultas/detalleParaTablaConsulta :: ${consulta}}?:~{}"></th:block> -->
<!-- 		</fieldset> -->

		
	</div>

</body>
</html>