<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	
	<div id="modalAutenticacion" class="row" th:fragment="modalAutenticacion">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Formulario de Autenticación</legend>
				<form id="form-autenticacion" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-lg-3 col-sm-3 control-label">Contraseña</label>
						<div class="col-lg-9 col-sm-9">
							<input class="form-control upperCase"
								type= "password" name="password"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12 text-center">
							<button id=btnAutenticar type="button" class="btn btn-success">
								<i class="fa fa-floppy-o"></i> Aceptar
							</button>
						</div>
					</div>
				</form>				
			</fieldset>
		</div>
	</div>


</body>
</html>