<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="criterioBusquedaReporteEstadoCuenta" th:with="tipo=${tipo}">
		<div id="tipoBusqueda" class="col-xs-12 col-md-4 col-lg-5">
			<fieldset class="well">
				<legend class="well-legend">Tipo de Búsqueda</legend>
				<form id="formTipoBusqueda" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="radio-inline">
								<input type="radio" name="tipoBusqueda" value="tipoDocumento">
								Por Tipo de Documento
							</label>
							<label class="radio-inline">
								<input type="radio" checked="checked" name="tipoBusqueda" value="criterios">
								Por Criterios
							</label>

						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Filtro</legend>
				<div id="tipoDocumento" class="hidden">
					<form id="formParamIniciales" class="form-horizontal">
						<div class="form-group">
							<div class="group">
								<label class="col-sm-1 control-label">Tipo de Documento</label>
								<div class="col-sm-3">									
									<select id="selectTipoDocumento" name="tipoDocumento" class="form-control select2">
										<option value="" disabled="disabled" selected="selected">Seleccion un Tipo de Documento</option>
										<option th:each= "documentos : ${tipoDocumentos}" th:value="${documentos.idItem}"
											th:text="|${documentos.idItem} - ${documentos.descripcionItem}|"></option>
									</select>
								</div>
							</div>
							<div class="group">
								<label class="col-sm-1 control-label">Número de Documento</label>
								<div class="col-sm-2">
									<input id="txtNumDocumentoCliente" name="numeroDocumento" type="text"
										placeholder="10002987" class="form-control input-md">
								</div>
							</div>
						</div>
						<div class="form-group">
								<div class="col-sm-12 text-center">
									<button id="btnBuscarPorDocumentoCliente" class="btn btn-primary" type="button">
										<i class="fa fa-search"></i> Buscar
									</button>
									<button id="btnExportarPorDocumentoCliente" class="btn btn-success" type="button">
										<i class="fa fa-download"></i> Exportar XLSX
									</button>
									<button id="btnExportarPorDocumentoClienteDocx" class="btn btn-danger" type="button">
										<i class="fa fa-download"></i> Exportar PDF
									</button>
								</div>
						</div>
					</form>
				</div>
				<div id="criterios"  >
					<form id="formBusquedaCriterios" class="form-horizontal">
						<th:block
							th:replace="~{template/fragments/reporte/criterioBusquedaReporteEstadoCuenta :: |${tipo}-criterios|  }?:~{}">
						</th:block>
						<div class="form-group">
							<div class="col-lg-12 text-center">
								<button id="buscarCriterios" type="button" class="btn btn-primary">
									<i class="fa fa-search"></i> Buscar
								</button>
								<button id="exportarCriterios" type="button" class="btn btn-success">
									<i class="fa fa-download"></i> Exportar XLSX
								</button>
								<button id="exportarCriteriosDocx" type="button" class="btn btn-danger">
									<i class="fa fa-download"></i> Exportar PDF
								</button>
							</div>
						</div>
					</form>
				</div>
				<div id="operaciones" >
					<form id="formBusquedaOperaciones" class="form-horizontal">
						<th:block
							th:replace="~{template/fragments/wshub/filtrosParaTablaConsulta:: |${tipo}-operaciones| }?:~{}">
						</th:block>
						
					</form>
				</div>
			</fieldset>
		</div>
	</th:block>
	

	<th:block th:fragment="estadoCuenta-criterios">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Empresas</label>
				<div class="col-lg-3 col-md-3">
					<select id="empresas" name="idEmpresa" class="form-control select2">
						<option selected="selected" value="-1">Seleccione Empresa</option>
						<option th:each="empresa : ${empresas}" th:value="${empresa.idEmpresa}"
							th:text="|${empresa.idEmpresa} - ${empresa.descripcion}|"></option>
					</select>
				</div>
			</div>
		
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Clientes</label>
				<div class="col-lg-3 col-md-3">
					<select id="clientes" name="idCliente" class="form-control select2 filtro">
						<option selected="selected" value="-1">Seleccione Cliente</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Fecha de Proceso</label>
				<div class="col-lg-3 col-md-3 input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input id="rangoFechaBusqueda" type="text" class="form-control" readonly="readonly"
						name="fechas" />
				</div>
			</div>
			
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1 col-md-1">Número de Tarjeta</label>
				<div class="col-lg-3 col-md-3">
					<input class="form-control filtro" name="numeroTarjeta" />
				</div>
			</div>
		</div>
		
	</th:block>

	
</body>
</html>