<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ob.debitos.simp.mapper.IArchivoUbaMapper">


	<select id="obtenerFechaArchivo" 
	parameterType="ParametroValidaArchivo"
	resultType="java.util.Date" statementType="CALLABLE">
		{   #{fechaArchivo, javaType=java.util.Date, mode=OUT, jdbcType=DATE}  = CALL F_OBTIENE_FECHA_ARCHIVO (
			#{tipoArchivo, jdbcType = VARCHAR, mode =IN},
			#{cabecera, jdbcType = VARCHAR, mode = IN}
			)
		}
	</select>
	
	<select id="validarHeaderTrailerArchivo" resultType="LogControlProgramaDetalle"
		statementType="CALLABLE">
		{
			CALL CTRL_ARCHIVO_UBA
				(
				#{codigoPrograma, jdbcType = VARCHAR, mode = IN},
				#{idInstitucion, jdbcType = INTEGER, mode = IN} 
			)
		}
	</select>
</mapper>