<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ob.debitos.simp.mapper.IBloqueoMapper">
    <sql id="fragmentSelectConsultaBloqueos">
        SELECT *
        FROM ConsultaBloqueos consulta
    </sql>

    <sql id="fragmentOrderByConsultaBloqueos">
        ORDER BY consulta.fechaProceso	DESC
		,consulta.codigoInstitucion 	ASC
		,consulta.idEmpresa         	ASC
		,consulta.idCliente         	ASC
		,consulta.fechaBloqueo      	DESC
		,consulta.horaBloqueo       	DESC;
    </sql>

    <select id="buscarBloqueos" resultType="Bloqueo">
        <include refid="fragmentSelectConsultaBloqueos"/>
        <where>
            <if test="tipoDocumento != null and tipoDocumento != ''">
                consulta.tipoDocumento = #{tipoDocumento}
            </if>
            <if test="numeroDocumento != null and numeroDocumento != ''">
                AND consulta.numeroDocumento = #{numeroDocumento}
            </if>
        </where>
        <include refid="fragmentOrderByConsultaBloqueos"/>
    </select>

    <select id="filtrarBloqueos" resultType="Bloqueo">
        <include refid="fragmentSelectConsultaBloqueos"/>
        <where>
            <if test="(fechaInicioProceso != null and fechaInicioProceso != '') and (fechaFinProceso != null and fechaFinProceso != '')">
                consulta.fechaProceso BETWEEN #{fechaInicioProceso} AND #{fechaFinProceso}
            </if>
            <if test="(fechaInicioBloqueo != null and fechaInicioBloqueo != '') and (fechaFinBloqueo != null and fechaFinBloqueo != '')">
                AND consulta.fechaBloqueo BETWEEN #{fechaInicioBloqueo} AND #{fechaFinBloqueo}
            </if>
            <if test="codigoInstitucion != null">
                AND consulta.codigoInstitucion = #{codigoInstitucion}
            </if>
            <if test="idEmpresa != null and idEmpresa != -1">
                AND consulta.idEmpresa = #{idEmpresa}
            </if>
            <if test="clientes != null and clientes.size() > 0">
                AND consulta.idCliente IN
                <foreach item="item" index="index" collection="clientes"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="numeroTarjeta != null and numeroTarjeta != ''">
                AND consulta.numeroTarjeta = #{numeroTarjeta}
            </if>
        </where>
        <include refid="fragmentOrderByConsultaBloqueos"/>
    </select>
</mapper>
