<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ob.debitos.simp.mapper.IReporteCuadreCuentasPorPagarMapper">
<resultMap type="ReporteMoneda" id="mapReporteResumen">
		<id property="codigoMoneda" column="codigoMoneda"></id>
		<id property="descripcionMoneda" column="descripcionMoneda"></id>
		<collection property="cuentasPorPagarResumen" javaType="List" ofType="ReporteCuadreCuentasPorPagarResumen">
			<result property="codigoInstitucion" column="codigoInstitucion"></result>
			<result property="descripcionInstitucion" column="descripcionInstitucion"></result>
			<result property="fechaProceso" column="fechaProceso"></result>
			<result property="cuentaCargo" column="cuentaCargo"></result>
			<result property="cuentaAbono" column="cuentaAbono"></result>
			<result property="cantidadCargo" column="cantidadCargo"></result>
			<result property="cantidadAbono" column="cantidadAbono"></result>
			<result property="totalCargo" column="totalCargo"></result>
			<result property="totalAbono" column="totalAbono"></result>
			<result property="fechaTransaccion" column="fechaTransaccion"></result>
			<result property="codigoClaseTransaccion" column="codigoClaseTransaccion"></result>
			<result property="descripcionClaseTransaccion" column="descripcionClaseTransaccion"></result>
		</collection>
	</resultMap>
	
	<select id="buscarResumen" resultMap="mapReporteResumen">
		SELECT *
		FROM ReporteCuadreCuentasPorPagarResumen reporte 
		<where>
			<if test="fechaInicio != null and fechaInicio != ''">
				reporte.fechaProceso &gt;= #{fechaInicio} 
			</if>
			<if test="codigoInstitucion != null and codigoInstitucion != ''">
				AND reporte.codigoInstitucion = #{codigoInstitucion} 
			</if>
			<if test="fechaFin != null and fechaFin != ''">
				AND reporte.fechaProceso &lt;= #{fechaFin} 
			</if>
		</where>
		ORDER BY fechaProceso DESC,
		fechaTransaccion,
		codigoClaseTransaccion
	</select>
	
	<resultMap type="ReporteMoneda" id="mapReporteDetalle">
		<id property="codigoMoneda" column="codigoMoneda"></id>
		<id property="descripcionMoneda" column="descripcionMoneda"></id>
		<collection property="cuentasPorPagarDetalle" javaType="List" ofType="ReporteCuadreCuentasPorPagarDetalle">
			<result property="codigoInstitucion" column="codigoInstitucion"></result>
			<result property="descripcionInstitucion" column="descripcionInstitucion"></result>
			<result property="fechaProceso" column="fechaProceso"></result>
			<result property="cuentaCargo" column="cuentaCargo"></result>
			<result property="cuentaAbono" column="cuentaAbono"></result>
			<result property="cantidadCargo" column="cantidadCargo"></result>
			<result property="cantidadAbono" column="cantidadAbono"></result>
			<result property="totalCargo" column="totalCargo"></result>
			<result property="totalAbono" column="totalAbono"></result>
			<result property="fechaTransaccion" column="fechaTransaccion"></result>
			<result property="codigoOrigenTransaccion" column="codigoOrigenTransaccion"></result>
			<result property="descripcionOrigenTransaccion" column="descripcionOrigenTransaccion"></result>
			<result property="idClaseTransaccion" column="idClaseTransaccion"></result>
			<result property="descripcionClaseTransaccion" column="descripcionClaseTransaccion"></result>
			<result property="idCodigoTransaccion" column="idCodigoTransaccion"></result>
			<result property="descripcionCodigoTransaccion" column="descripcionCodigoTransaccion"></result>
		</collection>
	</resultMap>
	 
	<select id="buscarDetalle" resultMap="mapReporteDetalle">
		SELECT *
		FROM ReporteCuadreCuentasPorPagarDetalle reporte 
		<where>
			<if test="fechaInicio != null and fechaInicio != ''">
				reporte.fechaProceso &gt;= #{fechaInicio} 
			</if>
			<if test="codigoInstitucion != null and codigoInstitucion != ''">
				AND reporte.codigoInstitucion = #{codigoInstitucion} 
			</if>
			<if test="fechaFin != null and fechaFin != ''">
				AND reporte.fechaProceso &lt;= #{fechaFin} 
			</if>
		</where>
		ORDER BY fechaProceso DESC,
		fechaTransaccion,
		codigoOrigenTransaccion,
		idClaseTransaccion,
		idCodigoTransaccion
	</select>
	
	<resultMap type="ReporteMoneda" id="mapReporteResumenAut">
		<id property="codigoMoneda" column="codigoMoneda"></id>
		<id property="descripcionMoneda" column="descripcionMoneda"></id>
		<collection property="cuentasPorPagarResumen" javaType="List" ofType="ReporteCuadreCuentasPorPagarResumen">
			<result property="codigoInstitucion" column="codigoInstitucion"></result>
			<result property="descripcionInstitucion" column="descripcionInstitucion"></result>
			<result property="fechaProceso" column="fechaProceso"></result>
			<result property="cuentaCargo" column="cuentaCargo"></result>
			<result property="cuentaAbono" column="cuentaAbono"></result>
			<result property="cantidadCargo" column="cantidadCargo"></result>
			<result property="cantidadAbono" column="cantidadAbono"></result>
			<result property="totalCargo" column="totalCargo"></result>
			<result property="totalAbono" column="totalAbono"></result>
			<result property="fechaTransaccion" column="fechaTransaccion"></result>
			<result property="tipoMensaje" column="tipoMensaje"></result>
			<result property="codigoConciliacion" column="codigoConciliacion"></result>
			<result property="descripcionConciliacion" column="descripcionConciliacion"></result>
		</collection>
	</resultMap>
	
	<select id="buscarAutorizacionesDelDia" resultMap="mapReporteResumenAut">
		SELECT *
		FROM ReporteCuadreCuentasPorPagarAutDelDia reporte 
		<where>
			
			<if test="fechaInicio != null and fechaInicio != ''">
				reporte.fechaProceso &gt;= #{fechaInicio} 
			</if>
			<if test="codigoInstitucion != null and codigoInstitucion != ''">
				AND reporte.codigoInstitucion = #{codigoInstitucion} 
			</if>
			<if test="fechaFin != null and fechaFin != ''">
				AND reporte.fechaProceso &lt;= #{fechaFin} 
			</if>
			<if test="indicadorConciliacion != null and indicadorConciliacion != ''">
				AND reporte.codigoConciliacion = #{indicadorConciliacion}
			</if>
		</where>
		ORDER BY fechaProceso DESC
	</select>
	
	<resultMap type="ReporteMoneda" id="mapReporteAutDetalle">
		<id property="codigoMoneda" column="codigoMoneda"></id>
		<id property="descripcionMoneda" column="descripcionMoneda"></id>
		<collection property="cuentasPorPagarAutDetalle" javaType="List" ofType="ReporteCuadreCuentasPorPagarAutDetalle">
			<result property="codigoInstitucion" column="codigoInstitucion"></result>
			<result property="descripcionInstitucion" column="descripcionInstitucion"></result>
			<result property="fechaProceso" column="fechaProceso"></result>
			<result property="tipoMensaje" column="tipoMensaje"></result>
			<result property="numeroTarjeta" column="numeroTarjeta"></result>
			<result property="numeroCuenta" column="numeroCuenta"></result>
			<result property="fechaAdquirente" column="fechaAdquirente"></result>
			<result property="horaAdquirente" column="horaAdquirente"></result>
			<result property="fechaLocal" column="fechaLocal"></result>
			<result property="horaLocal" column="horaLocal"></result>
			<result property="numeroTrace" column="numeroTrace"></result>
			<result property="codigoAutorizacion" column="codigoAutorizacion"></result>
			<result property="codigoGiroNegocio" column="codigoGiroNegocio"></result>
			<result property="codigoProceso" column="codigoProceso"></result>
			<result property="descripcionProceso" column="descripcionProceso"></result>
			<result property="codigoCanal" column="codigoCanal"></result>
			<result property="descripcionCanal" column="descripcionCanal"></result>
			<result property="monto" column="monto"></result>
			<result property="descripcionAdquirente" column="descripcionAdquirente"></result>
			<result property="binAdquirente" column="binAdquirente"></result>
			<result property="descripcionBinAdquirente" column="descripcionBinAdquirente"></result>
			<result property="codigoRespuesta" column="codigoRespuesta"></result>
			<result property="descripcionRespuesta" column="descripcionRespuesta"></result>
			<result property="codigoConciliacion" column="codigoConciliacion"></result>
			<result property="descripcionConciliacion" column="descripcionConciliacion"></result>
			<result property="fechaConciliacionLog" column="fechaConciliacionLog"></result>
		</collection>
	</resultMap>
	
	<select id="buscarDetalleAutorizaciones" resultMap="mapReporteAutDetalle">
		SELECT *
		FROM ReporteCuadreCuentasPorPagarAutDetalle reporte 
		<where>
			
			<if test="fechaInicio != null and fechaInicio != ''">
				reporte.fechaProceso &gt;= #{fechaInicio} 
			</if>
			<if test="fechaFin != null and fechaFin != ''">
				AND reporte.fechaProceso &lt;= #{fechaFin} 
			</if>
			<if test="indicadorConciliacion != null and indicadorConciliacion != ''">
				AND reporte.codigoConciliacion = #{indicadorConciliacion}
			</if>
			<if test="codigoInstitucion != null and codigoInstitucion != ''">
				AND reporte.codigoInstitucion = #{codigoInstitucion} 
			</if>
		</where>
		ORDER BY fechaProceso DESC,
			fechaAdquirente,
			numeroTarjeta,
			numeroTrace
	</select>

</mapper>